.registrator {
    background-color: aquamarine;
    width: 500px;
    height: 350px;
    margin-top: 35px;
    margin-left: 130px;
    border-radius: 10px;
}

.input {
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: azure;
    width: 300px;
}

.username {
    margin-right: 57px;
}

.mail {
    margin-right: 90px;
}

.pass {
    margin-right: 60px;
}

#pass {
    margin-top: 30px;
}

.butt {
    margin-left: 338px;
    margin-top: 40px;
    width: 100px;
    height: 30px;
    border-radius: 15px;
}